.nav {
  display: flex;
}
.nav ul {
  display: flex;
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0px 2px;
}

.nav a {
  text-decoration: none;
  color: lightgrey;
  padding: 20px 35px;
}

.nav a:hover {
  color: white;
  background-color: #6e95cc;
}
