/* .container-fluid {
  display: flex;
  position: relative;
  width: 100%;
  top: 5rem;
} */

.container-fluid {
  position: absolute;
  top: 5rem;
}
.content {
  display: flex;
}

.react-bootstrap-table table {
  table-layout: auto;
}

@media screen and (max-width: 921px) {
  .container-fluid {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    top: 0;
  }

  .content {
    display: inline-block;
  }
}
