.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
  font-size: 16px;
}

.css-jtlhu6-MuiTablePagination-root {
  margin-top: 5px;
}

.css-jtlhu6-MuiTablePagination-root div p {
  margin-bottom: 0px;
}

.MuiTablePagination-spacer p {
  margin-bottom: 0px;
}

.MuiTablePagination-displayedRows p {
  margin-bottom: 0px;
}

.css-1wif0xq p {
  margin-bottom: 0px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}
